root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,cpp,h,js,jsx,ts,tsx,css,scss,html,json,yaml,yml,md}]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_size = 2

[Makefile]
indent_style = tab

[*.{bat,cmd}]
end_of_line = crlf
